
#root{
  height: 100%;
  overflow: auto;
  
}

body{
  background-color: #f2f2f2 !important;
}

.content{
  text-align: center;  
}

html{
  background-color: #f2f2f2; 
  overflow: auto;
  height: 100%;
}
.App {
  justify-content: center;  
  margin-top: 20px; 
}

header img{
  height: 24px;
}

header {
  border-bottom: solid 1px #c2c2c2;
}

header ul{
  list-style: none;
  padding: 0;
}

header ul li{
  display: inline-block;
}

header .navbar-link{
  margin-right: 5px;
  font-size: 12px;
  color: #4e4e4e;
  padding-right: 0px;
}

header .navbar-divider{
  display: inline-block;
  width: 1px;
  height: 12px;;
  background: #4e4e4e;
  margin-right: 5px;
}

.welcome-content{
  text-align: left;
  
}
.welcome-content h1{
  font-weight: bolder;
  font-size: 24px;
}

.welcome-content h1, h4{
  font-weight: bolder;
}

.faucet-title h4{
  margin: 30px 0;
  font-size: 20px;
  display: inline;
}

.faucet-title span{
  display: inline;
  font-weight: normal;
  font-size: 14px;
  margin-left: 5px;
}
.custom-btn{
	
  /* background-image: none;
  background: none;
  border:solid 1px  steelblue;
  color: steelblue;
  text-transform: uppercase;
  width: 110px;
  outline: 0 !important;
  padding: 8px 6px;
  display: inline-block;
  cursor: pointer;
 */

  padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 40px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #437df9;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    outline: none !important;
    cursor: pointer;

}

.refund-btn{
  margin-left: 5px;
}

.fund-btn{
  margin-right: 5px;
}

.custom-btn.disabled{
  background-color: #4e4e4e;
}



.address-input-container{
  margin: 20px 0 40px 0;
  padding: 0;
  height: 60px;
 
}

.time-stamp-label-container{
  font-size: 12px;
  text-transform: uppercase;
}

input[type="text"] {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f2f2f2;
  border-bottom: solid 1px #c2c2c2;
  font-size: 18px;
  width: 100%;
  padding: 0;
}


input:focus, textarea:focus, select:focus {
    outline-offset: 0;
    outline: none;
}

.address-input-label{
  display: block;
  font-size: 12px;
  line-height: 12px;
  padding: 0;
  margin: 0;

  text-align: left;
}

input.error{
  color: indianred 
}

.address-error-container,
.address-message-container{
  color: indianred;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  margin-top: 5px;
}

.address-message-container{
  color: #437df9;
}



.address-input-field{
  display: inline-block;
  line-height: 40px;
 
}

.custom-btn.donate{
  line-height: 30px;
  margin-left: 0px;
  margin-top: 6px;
}

.address-input-field.button-input{
  text-align: right;
  padding-left: 0;
}
.transactions-container{
  min-height: 300px;
}
.transaction-info-label{
  font-size: 16px;
  color: #437df9;
  margin-bottom: 10px;
}

.transaction-list{
  list-style: none;
  padding: 0;

}

.transaction-list li {
  height: 24px;
  line-height: 24px;
  font-size: 14px;

}

.transaction-list.pending-list li{
  color: indianred;
}

.transaction-list.completed-list li{
  color: forestgreen;;
}

.address-input-container{
  height: auto;
}
.address-input-field{
  height: 80px;
}

.custom-btn{
  width: 100%;
}

.address-input-field.button-input{
  padding-left: 15px;;
}

.row.transactions-container{
  min-height: 0;
}

.faucet-title{
  text-align: left;
  font-weight: bolder;
  margin: 20px 0;
}

.history{
  margin: 20px 0;
}
.transaction-block{
  border-bottom: solid 1px #c2c2c2;
  margin-bottom: 15px;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .recaptcha-container{
    margin-top: 30px;
  }

  .App {
    margin-top: 60px;
  }
  
  .address-input-field{
    height: 60px;
  }
  .transaction-block{
    border-bottom: none;
    border-right: solid 1px #c2c2c2;
    margin-bottom: 0;
  }

  header .navbar-link{
    margin-right: 20px;
    font-size: 14px;
  }
  .welcome-content h1{
    font-size: 2.5rem;
  }
  header .navbar-divider{
    margin-right: 20px;
  }

  .custom-btn{
    width: auto;
  }
  .welcome-content{
    padding-right: 100px;
  }

  

  .address-input-field.button-input{
    padding-left: 0;
  }
  .row.transactions-container{
    min-height: 300px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

